.highlight{
    color:red;
}

.angucomplete-holder{
    padding: 15px;
}

input{
    width:100%
}

.nofocus:focus {
    outline: none;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}

md-list-item.md-3-line{
    padding: 10px !important;
}